nodered_flows/flows.json
[
    {
        "id": "c2bee6c445d2b842",
        "type": "tab",
        "label": "home_flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75d84190d490b888",
        "type": "tab",
        "label": "Send email",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "33348ec81cbe324d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8fd88c298088359e",
        "type": "mqtt-broker",
        "name": "sensor_to_web",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "84004303a41a409c",
        "type": "mqtt-broker",
        "name": "sensor_err_to_web",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8064fe1b72186590",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4a6acd931f6d76ce",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "ac-wio11pj-shard-00-00.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-01.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-02.aggipjn.mongodb.net:27017",
        "port": "27017",
        "dbName": "smart_garden",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://admin:123@ac-wio11pj-shard-00-00.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-01.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-02.aggipjn.mongodb.net:27017/smart_garden?ssl=true&authSource=admin&retryWrites=true&w=majority",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "9765cc01fb0c5155",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "ac-wio11pj-shard-00-00.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-01.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-02.aggipjn.mongodb.net:27017",
        "port": "27017",
        "dbName": "smart_garden",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://admin:123@ac-wio11pj-shard-00-00.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-01.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-02.aggipjn.mongodb.net:27017/smart_garden?ssl=true&authSource=admin&retryWrites=true&w=majority",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "049eb47969191d77",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "mongodb://admin:123@ac-wio11pj-shard-00-00.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-01.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-02.aggipjn.mongodb.net:27017/smart_garden?ssl=true&authSource=admin&retryWrites=true&w=majority",
        "port": "",
        "dbName": "history_log",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://admin:123@ac-wio11pj-shard-00-00.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-01.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-02.aggipjn.mongodb.net:27017/smart_garden?ssl=true&authSource=admin&retryWrites=true&w=majority",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "ef4af5fe5957bd53",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "62a8172fcba5d724",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "smart_garden",
        "appName": "",
        "authSource": "admin",
        "authMechanism": "DEFAULT",
        "tls": true,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://admin:123@ac-wio11pj-shard-00-00.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-01.aggipjn.mongodb.net:27017,ac-wio11pj-shard-00-02.aggipjn.mongodb.net:27017/smart_garden?ssl=true&authSource=admin&retryWrites=true&w=majority",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "165354a2bf2135d4",
        "type": "ui_tab",
        "name": "Hệ thống tưới",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "779c7118d2e078d9",
        "type": "ui_group",
        "name": "Giao diện đăng nhập",
        "tab": "165354a2bf2135d4",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "81717cb3e0e04156",
        "type": "pushsafer-api-key",
        "name": "Myphone"
    },
    {
        "id": "87e124dfe217b976",
        "type": "pushsafer-notification-template",
        "name": "Cảnh báo lỗi",
        "title": "",
        "icon": "",
        "iconcolor": "#ffffff",
        "sound": "",
        "vibration": "",
        "priority": "",
        "devices": "",
        "timetolive": "",
        "retry": "",
        "expire": "",
        "answer": "",
        "url": "",
        "urltitle": "",
        "image": "",
        "image2": "",
        "image3": ""
    },
    {
        "id": "33b17218fabe43a1",
        "type": "mqtt in",
        "z": "c2bee6c445d2b842",
        "name": "",
        "topic": "irrigation/sensors",
        "qos": "0",
        "datatype": "json",
        "broker": "8fd88c298088359e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "be83f6c47f43fa16",
                "8cbc16164a2133bd"
            ]
        ]
    },
    {
        "id": "168b9892ac867570",
        "type": "mqtt in",
        "z": "c2bee6c445d2b842",
        "name": "",
        "topic": "irrigation/alert",
        "qos": "1",
        "datatype": "json",
        "broker": "84004303a41a409c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 320,
        "wires": [
            [
                "44c04f678daeeaa6"
            ]
        ]
    },
    {
        "id": "be83f6c47f43fa16",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "sensor_data",
        "func": "msg.payload = {\n  type: \"sensors\",\n  data: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 260,
        "wires": [
            [
                "a8aa4ef45198b245",
                "ac868a10142081ad"
            ]
        ]
    },
    {
        "id": "44c04f678daeeaa6",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "sensor_err",
        "func": "msg.payload = {\n    type: \"alert\",\n    data: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 320,
        "wires": [
            [
                "a8aa4ef45198b245"
            ]
        ]
    },
    {
        "id": "ee94902f3ec3ce40",
        "type": "mqtt out",
        "z": "c2bee6c445d2b842",
        "name": "",
        "topic": "irrigation/control",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fd88c298088359e",
        "x": 1860,
        "y": 60,
        "wires": []
    },
    {
        "id": "ac868a10142081ad",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "control_watering_now",
        "func": "// KHỞI TẠO BIẾN \nvar mode = flow.get(\"mode\") || \"manual\";\n// manualState: Lưu trạng thái nút bấm (ON/OFF)\nvar manualState = flow.get(\"manualState\") || \"OFF\";\n// isPumping: Lưu trạng thái thực tế bơm đang chạy hay không\nvar isPumping = flow.get(\"isPumping\") || false;\nvar mqttTopic = \"irrigation/control\";\n\n// Lấy cài đặt Auto\nvar soilLimit = Number(flow.get(\"soilLimit\")) || 30;\nvar humLimit = Number(flow.get(\"humLimit\")) || 40;\nvar tempLimit = Number(flow.get(\"tempLimit\")) || 35;\n\n// HÀM LOGIC AUTO \nfunction getAutoDecision(s) {\n    if (!s) return \"OFF\";\n    var curSoil = Number(s.soil);\n    var curHum = Number(s.hum);\n    var curTemp = Number(s.temp);\n    var needWater = (curSoil < soilLimit);\n    if (curHum < humLimit && curSoil < soilLimit) needWater = true;\n    if (curTemp > tempLimit) return \"OFF\";\n    if (needWater) return \"ON\";\n    if (!needWater) return \"OFF\";\n    return \"KEEP\";\n}\n\n// XỬ LÝ LỆNH TỪ NÚT BẤM (BUTTON CLICK)\nif (msg.cmd === \"PUMP_ON\" || msg.cmd === \"PUMP_OFF\") {\n    var cmd = (msg.cmd === \"PUMP_ON\") ? \"ON\" : \"OFF\";\n    // LƯU TRẠNG THÁI VÀO BỘ NHỚ\n    flow.set(\"manualState\", cmd);\n    // Debug: In ra để xem đã lưu chưa\n    node.warn(`[DEBUG CLICK] Đã lưu manualState: ${cmd}`);\n    // Chuẩn bị lưu manualState lên cloud\n    var saveManualStateMsg = {\n        topic: \"save_manual_state\",\n        payload: cmd\n    };\n    \n    if (mode === \"manual\") {\n        flow.set(\"isPumping\", (cmd === \"ON\"));\n        // Output 1: MQTT, Output 2: null, Output 3: Save manualState\n        return [{ topic: mqttTopic, payload: cmd }, null, saveManualStateMsg];\n    }\n    return [null, null, saveManualStateMsg];\n}\n\n// XỬ LÝ CHUYỂN CHẾ ĐỘ\nif (msg.topic === \"cmd_mode\") {\n    mode = msg.payload;\n    flow.set(\"mode\", mode);\n    var cmdToSend = \"OFF\";\n\n    if (mode === \"manual\") {\n        // KHÔI PHỤC TRẠNG THÁI CŨ\n        cmdToSend = flow.get(\"manualState\") || \"OFF\";\n        node.warn(`[DEBUG MODE] Chuyển Manual -> Khôi phục lại: ${cmdToSend}`);\n    } else {\n        // TÍNH TOÁN AUTO\n        var s = flow.get(\"lastSensors\");\n        if (s) {\n            var decision = getAutoDecision(s);\n            cmdToSend = (decision === \"KEEP\") ? (isPumping ? \"ON\" : \"OFF\") : decision;\n        } else {\n            cmdToSend = \"OFF\";\n        }\n    }\n\n    flow.set(\"isPumping\", (cmdToSend === \"ON\"));\n\n    // Gửi cập nhật về UI để UI đổi chữ Watering/Stopped cho đúng\n    var uiUpdate = {\n        mode: mode,\n        pump: cmdToSend.toLowerCase()\n    };\n    \n    // Chuẩn bị lưu mode vào MongoDB\n    var modeMsg = {\n        topic: \"save_mode\",\n        payload: mode\n    };\n    \n    node.warn(`[CHANGE MODE] User chuyển sang: ${mode}`);\n\n    return [{ topic: mqttTopic, payload: cmdToSend }, { topic: \"current_settings\", payload: uiUpdate }, modeMsg];\n}\n\n// XỬ LÝ SETTINGS\nif (msg.topic === \"cmd_settings\") {\n    // Cập nhật settings vào flow context\n    if (msg.payload.soilLimit !== undefined) flow.set(\"soilLimit\", Number(msg.payload.soilLimit));\n    if (msg.payload.humLimit !== undefined) flow.set(\"humLimit\", Number(msg.payload.humLimit));\n    if (msg.payload.tempLimit !== undefined) flow.set(\"tempLimit\", Number(msg.payload.tempLimit));\n    \n    // Trả về settings mới cho web\n    var updatedSettings = {\n        settings: {\n            soilLimit: flow.get(\"soilLimit\") || 30,\n            humLimit: flow.get(\"humLimit\") || 40,\n            tempLimit: flow.get(\"tempLimit\") || 35\n        },\n        mode: mode,\n        pump: isPumping ? \"on\" : \"off\"\n    };\n    \n    node.warn(`[UPDATE SETTINGS] Soil: ${updatedSettings.settings.soilLimit}, Hum: ${updatedSettings.settings.humLimit}, Temp: ${updatedSettings.settings.tempLimit}`);\n    \n    // Output 1: Gửi msg để lưu MongoDB, Output 2: Gửi settings về web\n    return [msg, { topic: \"current_settings\", payload: updatedSettings }];\n}\n\n// XỬ LÝ LOAD LẠI TRANG (GET_SETTINGS)\nif (msg.topic === \"get_settings\") {\n    var displayPumpState = \"off\";\n    if (mode === \"manual\") {\n        // Lấy biến manualState, chuyển thành chữ thường 'on'/'off'\n        displayPumpState = (manualState || \"OFF\").toLowerCase();\n        node.warn(`[DEBUG LOAD] Đang Manual -> Trả về UI trạng thái cũ: ${displayPumpState}`);\n    } else {\n        displayPumpState = isPumping ? \"on\" : \"off\";\n    }\n    var responseData = {\n        settings: {\n            soilLimit: flow.get(\"soilLimit\") || 30,\n            humLimit: flow.get(\"humLimit\") || 40,\n            tempLimit: flow.get(\"tempLimit\") || 35\n        },\n        mode: mode,\n        pump: displayPumpState // 'on' hoặc 'off'\n    };\n    return [null, { topic: \"current_settings\", payload: responseData }];\n}\n\n// XỬ LÝ SENSOR\nif (msg.payload && msg.payload.type === \"sensors\") {\n    var s = msg.payload.data;\n    flow.set(\"lastSensors\", s);\n\n    if (mode === \"manual\") return null;\n\n    var decision = getAutoDecision(s);\n    if (decision === \"ON\" && !isPumping) {\n        flow.set(\"isPumping\", true);\n        return [{ topic: mqttTopic, payload: \"ON\" }, null];\n    }\n    if (decision === \"OFF\" && isPumping) {\n        flow.set(\"isPumping\", false);\n        return [{ topic: mqttTopic, payload: \"OFF\" }, null];\n    }\n}\n\nreturn null;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 260,
        "wires": [
            [
                "ee94902f3ec3ce40",
                "3d766b49df972104"
            ],
            [
                "a8aa4ef45198b245"
            ],
            [
                "switch_manual_state_5f129801"
            ]
        ]
    },
    {
        "id": "8cbc16164a2133bd",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "Add Timestamp",
        "func": "// msg.payload {\"soil\": 65, \"water\": 80, \"temp\": 30, \"hum\": 70}\nvar sensor = msg.payload;\nif (typeof sensor === 'string') {\n    sensor = JSON.parse(sensor);\n}\nsensor.timestamp = new Date();\nsensor.useid = flow.get('userid')\nmsg.orgin_data = sensor;\nmsg.payload = [sensor];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 140,
        "wires": [
            [
                "e517b0101620a602"
            ]
        ]
    },
    {
        "id": "e517b0101620a602",
        "type": "mongodb4",
        "z": "c2bee6c445d2b842",
        "clientNode": "4a6acd931f6d76ce",
        "mode": "collection",
        "collection": "sensor_data",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1260,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9d3d387151532922",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "Get data from MongoDB",
        "func": "// Lấy dữ liệu từ MongoDB\nvar dbData = msg.payload;\nif (!dbData || !Array.isArray(dbData) || dbData.length === 0) {\n    node.warn(\"Chưa có dữ liệu từ Database hoặc định dạng sai!\");\n    return null;\n}\ndbData.sort(function (a, b) {\n    var dateA = new Date(a.timestamp || a.date);\n    var dateB = new Date(b.timestamp || b.date);\n    return dateA - dateB;\n});\n\nvar limitChart = 50; // Lấy thêm điểm để tính toán\nvar recentData = dbData.slice(-limitChart);\n\nvar chartLabels = [];\nvar chartTemp = [];\nvar chartHum = [];\n\nrecentData.forEach(function (d) {\n    if (!d) return;\n    var dateVal = d.timestamp ? new Date(d.timestamp) : new Date();\n    var timeStr = dateVal.toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });\n    var valTemp = d.temp || d.temperature || d.Temp || 0;\n    var valHum = d.hum || d.humidity || d.Hum || 0;\n\n    chartLabels.push(timeStr);\n    chartTemp.push(Number(valTemp)); \n    chartHum.push(Number(valHum));\n});\n\n// Hàm tính tổng nước đã dùng dựa trên mức nước giảm dần\nfunction calcWaterUsage(days) {\n    var cutoff = new Date();\n    cutoff.setDate(cutoff.getDate() - days);\n    var filtered = dbData.filter(function(d) {\n        if (!d) return false;\n        var ts = d.timestamp ? new Date(d.timestamp) : null;\n        return ts && ts >= cutoff;\n    }).sort(function(a, b) {\n        return new Date(a.timestamp || a.date) - new Date(b.timestamp || b.date);\n    });\n\n    var usage = 0;\n    var prev = null;\n    filtered.forEach(function(d) {\n        var val = Number(d.water || d.waterLevel || 0);\n        if (prev !== null && val < prev) {\n            usage += (prev - val);\n        }\n        prev = val;\n    });\n    return usage;\n}\n\nvar waterUsageMonth = calcWaterUsage(30);\n\n// XỬ LÝ SOIL\nvar totalSoil = 0;\nvar count = 0;\nrecentData.forEach(function (d) {\n    // Kiểm tra tên biến soil hoặc moisture\n    var valSoil = d.soil || d.moisture || d.soilMoisture;\n    if (valSoil !== undefined) {\n        totalSoil += Number(valSoil);\n        count++;\n    }\n});\nvar avgSoil = count > 0 ? Math.round(totalSoil / count) : 0;\nmsg.payload = {\n    chart: {\n        labels: chartLabels,\n        temp: chartTemp,\n        hum: chartHum\n    },\n    waterUsageMonth: waterUsageMonth,\n    soil: avgSoil\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 9,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 480,
        "wires": [
            [
                "a8aa4ef45198b245"
            ]
        ]
    },
    {
        "id": "81a159fbb913283d",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "Query Function",
        "func": "var userid = flow.get('userid');\n\nif (!userid) {\n    return null;\n}\n\nmsg.payload = { useid: userid };  \nmsg.sort = { \"_id\": -1 };\nmsg.limit = 500;\nmsg.projection = {\n    temp: 1,\n    hum: 1,\n    soil: 1,\n    water: 1,\n    timestamp: 1,\n    _id: 1\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 480,
        "wires": [
            [
                "43380740270db7e3"
            ]
        ]
    },
    {
        "id": "666ba504cace3331",
        "type": "inject",
        "z": "c2bee6c445d2b842",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{},{\"limit\":20, \"sort\":{\"_id\":-1}}]",
        "payloadType": "str",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "81a159fbb913283d"
            ]
        ]
    },
    {
        "id": "43380740270db7e3",
        "type": "mongodb4",
        "z": "c2bee6c445d2b842",
        "clientNode": "4a6acd931f6d76ce",
        "mode": "collection",
        "collection": "sensor_data",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 650,
        "y": 480,
        "wires": [
            [
                "9d3d387151532922"
            ]
        ]
    },
    {
        "id": "3d766b49df972104",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "format_history_log",
        "func": "if (msg.payload !== \"ON\") {\n    return null;\n}\n\n// Lấy chế độ hiện tại (Auto/Manual) để ghi chú\nvar currentMode = flow.get(\"mode\") || \"manual\";\n\n// Tạo bản ghi để lưu vào MongoDB\nmsg.payload = {\n    timestamp: new Date(),      \n    action: \"WATERING START\",  \n    mode: currentMode, \n    userid: flow.get(\"userid\")       \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 160,
        "wires": [
            [
                "47948fd488787946"
            ]
        ]
    },
    {
        "id": "47948fd488787946",
        "type": "mongodb4",
        "z": "c2bee6c445d2b842",
        "clientNode": "4a6acd931f6d76ce",
        "mode": "collection",
        "collection": "history_log",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 2200,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8bde4038f60b568a",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "Process history table",
        "func": "var dbData = msg.payload;\nif (!dbData || !Array.isArray(dbData)) return null;\ndbData.sort(function (a, b) {\n    var dateA = new Date(a.timestamp || a.date);\n    var dateB = new Date(b.timestamp || b.date);\n    return dateB - dateA; \n});\n\nvar last10 = dbData.slice(0, 10).map(function (d) {\n    var dateObj = d.timestamp ? new Date(d.timestamp) : new Date();\n    var safeID = d._id ? String(d._id).substring(0, 8).toUpperCase() : \"ID\";\n    return {\n        \"ID\": safeID,\n        \"Date\": dateObj.toLocaleDateString('vi-VN'), \n        \"Time\": dateObj.toLocaleTimeString('vi-VN')  \n    };\n});\n\nmsg.topic = \"history_table\";\nmsg.payload = {\n    table: last10\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 600,
        "wires": [
            [
                "a8aa4ef45198b245"
            ]
        ]
    },
    {
        "id": "fafe39f796f7a522",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "Query function for history",
        "func": "if (msg.trigger === \"get_history\" || !msg.trigger) {\n    var userid = flow.get('userid');\n    \n    if (!userid) {\n        return null;\n    }\n    \n    msg.payload = { userid: userid }; \n    msg.sort = { \"_id\": -1 };\n    msg.limit = 50;\n    msg.projection = {\n        action: 1,\n        mode: 1,\n        timestamp: 1,\n        _id: 1\n    };\n    \n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 600,
        "wires": [
            [
                "7deb4314905effff"
            ]
        ]
    },
    {
        "id": "fc3d4d1a2d2f3f87",
        "type": "inject",
        "z": "c2bee6c445d2b842",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{},{\"limit\":20, \"sort\":{\"_id\":-1}}]",
        "payloadType": "str",
        "x": 230,
        "y": 600,
        "wires": [
            [
                "fafe39f796f7a522"
            ]
        ]
    },
    {
        "id": "7deb4314905effff",
        "type": "mongodb4",
        "z": "c2bee6c445d2b842",
        "clientNode": "4a6acd931f6d76ce",
        "mode": "collection",
        "collection": "history_log",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 670,
        "y": 600,
        "wires": [
            [
                "8bde4038f60b568a"
            ]
        ]
    },
    {
        "id": "d5d41f21f0f4da09",
        "type": "mqtt in",
        "z": "c2bee6c445d2b842",
        "name": "",
        "topic": "irrigation/alert",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ef4af5fe5957bd53",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 840,
        "wires": [
            [
                "682d39620e7fd79a"
            ]
        ]
    },
    {
        "id": "682d39620e7fd79a",
        "type": "json",
        "z": "c2bee6c445d2b842",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 810,
        "y": 840,
        "wires": [
            [
                "e4ed7e36571aae5b"
            ]
        ]
    },
    {
        "id": "e4ed7e36571aae5b",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "function 2",
        "func": "let data = msg.payload;\n\n// Kiểm tra nếu dữ liệu không tồn tại hoặc lỗi model (status != 200)\nif (!data || data.status !== 200) {\n    return null;\n}\n\nconst sensorNames = {\n    \"air\": \"Không khí (Nhiệt độ/Độ ẩm)\",\n    \"soil\": \"Độ ẩm đất\",\n    \"water\": \"Mực nước\"\n};\n\nlet failedSensors = [];\n\n// Duyệt qua các phím trong JSON để tìm lỗi\nfor (let key in data) {\n    if (key !== \"status\" && data[key] === \"fault\") {\n        let displayName = sensorNames[key] || key;\n        failedSensors.push(displayName);\n    }\n}\n\n// Chỉ gửi thông báo nếu có ít nhất một cảm biến bị lỗi\nif (failedSensors.length > 0) {\n    let listSensors = failedSensors.join(\", \"); \n\n    msg.payload = {\n        title: \"CẢNH BÁO HỆ THỐNG\", \n        message: \"Phát hiện sự cố tại: \" + listSensors,\n        sound: \"11\",      // Chuông báo động Siren\n        vibration: \"3\",   // Rung mạnh\n        icon: \"5\",        // Icon cảnh báo đỏ\n        iconcolor: \"#FF0000\",\n        device: \"a\"       // Gửi đến tất cả thiết bị\n    };\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 840,
        "wires": [
            [
                "69acaece0c7acb59"
            ]
        ]
    },
    {
        "id": "6e0e0f678c92a954",
        "type": "ui_template",
        "z": "c2bee6c445d2b842",
        "group": "779c7118d2e078d9",
        "name": "Giao diện đăng nhập",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* 1. Xóa bỏ hoàn toàn khung và lề mặc định của Node-RED Dashboard */\n    .md-content {\n        background-color: transparent !important;\n    }\n\n    .vbox {\n        height: 100vh !important;\n        padding: 0 !important;\n    }\n\n    ui-card-panel {\n        box-shadow: none !important;\n        border: none !important;\n        background: transparent !important;\n        margin: 0 !important;\n        padding: 0 !important;\n        width: 100% !important;\n    }\n\n    .nr-dashboard-template {\n        padding: 0 !important;\n        margin: 0 !important;\n        width: 100% !important;\n        height: 100vh !important;\n    }\n\n    /* 2. Nền xanh đậm toàn màn hình */\n    .login-container {\n        width: 100vw;\n        height: 100vh;\n        background-color: #4c7c5c;\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        position: fixed;\n        top: 0;\n        left: 0;\n        z-index: 9999;\n    }\n\n    /* 3. Khung bên trong */\n    .login-box {\n        width: 90%;\n        max-width: 1000px;\n        height: 600px;\n        background-color: #f0f7f2;\n        border-radius: 40px;\n        display: flex;\n        overflow: hidden;\n        box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);\n    }\n\n    /* 4. Phần Form */\n    .login-form {\n        flex: 1.2;\n        padding: 60px;\n        display: flex;\n        flex-direction: column;\n        background: transparent !important;\n    }\n\n    .logo-text {\n        color: #4c7c5c;\n        font-size: 1.2rem;\n        margin-bottom: 30px;\n        display: flex;\n        align-items: center;\n        gap: 10px;\n        font-weight: bold;\n    }\n\n    .login-form h1 {\n        color: #4c7c5c !important;\n        background: transparent !important;\n        font-size: 4rem;\n        margin: 0 0 40px 0;\n        padding: 0 !important;\n        font-weight: 800;\n        text-transform: uppercase;\n        letter-spacing: 4px;\n        display: block !important;\n    }\n\n    .input-group {\n        margin-bottom: 25px;\n    }\n\n    label {\n        display: block;\n        margin-bottom: 10px;\n        font-size: 1.1rem;\n        color: #4c7c5c;\n        font-weight: 600;\n    }\n\n    input {\n        width: 100%;\n        padding: 18px 25px;\n        border-radius: 30px;\n        border: 1px solid #d1e3d5;\n        background-color: #ffffff;\n        font-size: 1rem;\n        color: #333;\n    }\n\n    button {\n        margin-top: 20px;\n        padding: 18px;\n        border-radius: 40px;\n        border: none;\n        background-color: #1a2e22;\n        color: white;\n        font-size: 1.3rem;\n        font-weight: bold;\n        text-transform: uppercase;\n        cursor: pointer;\n        transition: 0.3s;\n    }\n\n    button:hover {\n        background-color: #4c7c5c;\n        transform: translateY(-2px);\n    }\n\n    /* 5. Hình ảnh bên phải */\n    .login-image {\n        flex: 1;\n        background-image: url('https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?q=80&w=1974&auto=format&fit=crop');\n        background-size: cover;\n        background-position: center;\n        border-radius: 0 40px 40px 0;\n        margin: 15px;\n    }\n</style>\n\n<div class=\"login-container\">\n    <div class=\"login-box\">\n        <div class=\"login-form\">\n            <div class=\"logo-text\">🌿 Plant Planet</div>\n            <h1>LOGIN</h1>\n\n            <div class=\"input-group\">\n                <label>Username</label>\n                <input type=\"text\" ng-model=\"user\" placeholder=\"Enter username...\">\n            </div>\n\n            <div class=\"input-group\">\n                <label>Password</label>\n                <input type=\"password\" ng-model=\"pass\" placeholder=\"Enter password...\">\n            </div>\n\n            <button ng-click=\"send({payload: {username: user, password: pass}})\">Submit</button>\n        </div>\n        <div class=\"login-image\"></div>\n    </div>\n</div>\n<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            // Chỉ khi status là success mới thực hiện lệnh nhảy trang\n            if (msg && msg.payload && msg.payload.status === \"success\") {\n                window.location.href = \"http://127.0.0.1:1882/home/index.html\";\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 1080,
        "wires": [
            [
                "b91de411ec80eff1"
            ]
        ]
    },
    {
        "id": "289a84c74196bc4b",
        "type": "mongodb4",
        "z": "c2bee6c445d2b842",
        "clientNode": "4a6acd931f6d76ce",
        "mode": "collection",
        "collection": "users",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1080,
        "y": 1080,
        "wires": [
            [
                "911452465bd8dd32",
                "551bf3d108415856"
            ]
        ]
    },
    {
        "id": "b91de411ec80eff1",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "function 1",
        "func": "msg.payload = { \n    username: msg.payload.username, \n    password: msg.payload.password \n}; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1080,
        "wires": [
            [
                "289a84c74196bc4b"
            ]
        ]
    },
    {
        "id": "911452465bd8dd32",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "function kiểm tra",
        "func": "if (msg.payload) {\n    var user = msg.payload;\n    var mode = \"DEFAULT\"; \n    if (user.settings) {\n        mode = \"USER_DB\";\n        flow.set(\"soilLimit\", Number(user.settings.soilLimit));\n        flow.set(\"humLimit\", Number(user.settings.humLimit));\n        flow.set(\"tempLimit\", Number(user.settings.tempLimit));\n    } else {\n        mode = \"DEFAULT_INIT\";\n        flow.set(\"soilLimit\", 30);\n        flow.set(\"humLimit\", 40);\n        flow.set(\"tempLimit\", 35);\n    }\n\n    node.warn(`User: ${user.username} - Mode: ${mode} - Soil: ${flow.get(\"soilLimit\")}`);\n    msg.payload = {\n        status: \"success\", \n        user: user.username\n    };\n\n    return [msg, null];\n\n} else {\n    msg.payload = {\n        status: \"error\",\n        message: \"Sai tài khoản hoặc mật khẩu\"\n    };\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1080,
        "wires": [
            [
                "2be11394746b2781"
            ],
            [
                "329adee57ef1c3d1"
            ]
        ]
    },
    {
        "id": "2be11394746b2781",
        "type": "ui_ui_control",
        "z": "c2bee6c445d2b842",
        "name": "",
        "events": "all",
        "x": 1520,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "329adee57ef1c3d1",
        "type": "ui_toast",
        "z": "c2bee6c445d2b842",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Báo trạng thái",
        "x": 1540,
        "y": 1120,
        "wires": []
    },
    {
        "id": "69acaece0c7acb59",
        "type": "pushsafer",
        "z": "c2bee6c445d2b842",
        "name": "",
        "apikey": "81717cb3e0e04156",
        "notificationtemplate": "87e124dfe217b976",
        "x": 1160,
        "y": 840,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "551bf3d108415856",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "Get userid",
        "func": "flow.set('username', msg.payload.username);\nflow.set('userid', msg.payload._id);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "c19fc926d50f0ff0",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "Prepare save settings",
        "func": "if (msg.topic === \"cmd_settings\") {\n    var userId = flow.get(\"userid\");\n\n    if (!userId) {\n        return null;\n    }\n    var inputSettings = msg.payload;\n    if (typeof inputSettings === \"string\") {\n        try {\n            inputSettings = JSON.parse(inputSettings);\n        } catch (e) { return null; }\n    }\n    // Cấu hình mongodb \n    msg.collection = \"users\";\n    msg.operation = \"updateOne\";\n    msg.payload = [\n        { _id: userId },                      \n        { $set: { settings: inputSettings } }\n    ];\n\n    delete msg.query;\n\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 360,
        "wires": [
            [
                "909db3f8f841aadf"
            ]
        ]
    },
    {
        "id": "909db3f8f841aadf",
        "type": "mongodb4",
        "z": "c2bee6c445d2b842",
        "clientNode": "4a6acd931f6d76ce",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 2010,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cccc8db417796bae",
        "type": "change",
        "z": "c2bee6c445d2b842",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "get_settings",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 660,
        "wires": [
            [
                "load_settings_from_db"
            ]
        ]
    },
    {
        "id": "load_settings_from_db",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "Prepare load settings query",
        "func": "if (msg.topic === \"get_history\") {\n    var userid = flow.get(\"userid\");\n    if (!userid) {\n        node.warn(\"[GET HISTORY] No userid found\");\n        return [null, null];\n    }\n    \n    msg.trigger = \"get_history\";\n    node.warn(`[GET HISTORY] Routing to history query for user: ${userid}`);\n    \n    // Output 2: Gửi đến hàm Query \n    return [null, msg];\n}\n\nvar userId = flow.get(\"userid\");\n\nif (!userId) {\n    node.warn(\"Không tìm thấy User ID - Sử dụng settings mặc định\");\n    flow.set(\"soilLimit\", 30);\n    flow.set(\"humLimit\", 40);\n    flow.set(\"tempLimit\", 35);\n    return [null, null];\n}\n\nmsg.payload = { _id: userId };\nmsg.collection = \"users\";\nmsg.operation = \"findOne\";\n\nnode.warn(`[QUERY DB] Đang tìm user với ID: ${userId}`);\n\n// Output 1: gửi tới mongodb_load_user_settings\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 660,
        "wires": [
            [
                "mongodb_load_user_settings"
            ],
            [
                "fafe39f796f7a522"
            ]
        ]
    },
    {
        "id": "mongodb_load_user_settings",
        "type": "mongodb4",
        "z": "c2bee6c445d2b842",
        "clientNode": "4a6acd931f6d76ce",
        "mode": "collection",
        "collection": "users",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Load User from MongoDB",
        "x": 2040,
        "y": 660,
        "wires": [
            [
                "apply_loaded_settings"
            ]
        ]
    },
    {
        "id": "apply_loaded_settings",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "Apply loaded settings to flow",
        "func": "// Xử lý kết quả từ MongoDB\nvar user = msg.payload;\n\nif (user && user.settings) {\n    // Load settings từ MongoDB vào flow context\n    flow.set(\"soilLimit\", Number(user.settings.soilLimit) || 30);\n    flow.set(\"humLimit\", Number(user.settings.humLimit) || 40);\n    flow.set(\"tempLimit\", Number(user.settings.tempLimit) || 35);\n    \n    // // Load mode (manual/auto) từ MongoDB\n    // if (user.settings.mode) {\n    //     flow.set(\"mode\", user.settings.mode);\n    //     node.warn(`[LOAD MODE FROM DB] User: ${user.username} - Mode: ${user.settings.mode}`);\n    // } else {\n    //     // Default mode\n    //     flow.set(\"mode\", \"manual\");\n    // }\n    \n    // Load manualState từ MongoDB\n    if (user.settings.manualState) {\n        flow.set(\"manualState\", user.settings.manualState);\n        node.warn(`[LOAD MANUAL STATE FROM DB] User: ${user.username} - ManualState: ${user.settings.manualState}`);\n    } else {\n        // Default manualState\n        flow.set(\"manualState\", \"OFF\");\n    }\n    \n    node.warn(`[LOAD FROM DB] User: ${user.username} - Soil: ${user.settings.soilLimit}, Hum: ${user.settings.humLimit}, Temp: ${user.settings.tempLimit}, ManualState: ${user.settings.manualState}`);\n} else {\n    // Nếu không có settings trong DB, dùng default\n    node.warn(\"[LOAD FROM DB] Không tìm thấy settings - Dùng mặc định\");\n    flow.set(\"soilLimit\", 30);\n    flow.set(\"humLimit\", 40);\n    flow.set(\"tempLimit\", 35);\n    flow.set(\"mode\", \"manual\");\n    flow.set(\"manualState\", \"OFF\");\n}\n\n// Đặt lại topic để chuyển sang xử lý get_settings\nmsg.topic = \"get_settings\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2500,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "save_manual_state_func_d3a0b886",
        "type": "function",
        "z": "c2bee6c445d2b842",
        "name": "Prepare save manual state",
        "func": "var manualState = msg.payload;\nvar userid = flow.get('userid');\n\nif (!userid) {\n    return null;\n}\n\nmsg.collection = \"users\";\nmsg.operation = \"updateOne\";\nmsg.payload = [\n    { _id: userid },                              // Filter by user ID\n    { $set: { 'settings.manualState': manualState } }  // Update manualState field\n];\n\ndelete msg.query;\ndelete msg.update;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 260,
        "wires": [
            [
                "mongodb_save_manual_state_3484510c"
            ]
        ]
    },
    {
        "id": "mongodb_save_manual_state_3484510c",
        "type": "mongodb4",
        "z": "c2bee6c445d2b842",
        "clientNode": "4a6acd931f6d76ce",
        "mode": "collection",
        "collection": "users",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "Save ManualState to MongoDB",
        "x": 2650,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "switch_manual_state_5f129801",
        "type": "switch",
        "z": "c2bee6c445d2b842",
        "name": "Filter save_manual_state",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "save_manual_state",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1870,
        "y": 260,
        "wires": [
            [
                "save_manual_state_func_d3a0b886"
            ]
        ]
    },
    {
        "id": "a8aa4ef45198b245",
        "type": "uibuilder",
        "z": "c2bee6c445d2b842",
        "name": "SmartIrrigation",
        "topic": "",
        "url": "home",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "7.5.0",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "vscode://file/Users/tranhoangkimngan/CQ2022/25-26/HK1-2526/Nhập môn lập trình kết nối vạn vật/Đồ án/IOT---Smart-Irrigation/nodered_flows/uibuilder/home/?windowId=_blank",
        "x": 1190,
        "y": 320,
        "wires": [
            [
                "c19fc926d50f0ff0",
                "ac868a10142081ad"
            ],
            [
                "cccc8db417796bae"
            ]
        ]
    },
    {
        "id": "012440536074a702",
        "type": "mqtt in",
        "z": "75d84190d490b888",
        "name": "",
        "topic": "irrigation/alert",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8064fe1b72186590",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "819ed67b0db22ed4",
                "6c41ddde3ce372df"
            ]
        ]
    },
    {
        "id": "819ed67b0db22ed4",
        "type": "function",
        "z": "75d84190d490b888",
        "name": "Type email",
        "func": "// Dữ liệu đầu vào: {\"air\":\"fault\", \"soil\":\"normal\", \"water\":\"normal\", \"status\":200}\nvar data = msg.payload;\n\n// Bỏ qua nếu không có status hoặc status không phải 200\nif (!data || data.status !== 200) {\n    return null;\n}\n\nconst sensorNames = {\n    \"air\": \"Nhiệt độ và Độ ẩm không khí\",\n    \"soil\": \"Độ ẩm đất\",\n    \"water\": \"Mực nước\"\n};\n\nlet failedSensors = [];\nfor (let key in data) {\n    // Chỉ kiểm tra các trường sensor, bỏ qua 'status'\n    if (key !== \"status\" && data[key] === \"fault\") {\n        let displayName = sensorNames[key] || key; \n        failedSensors.push(displayName);\n    }\n}\n\n// Nếu không có sensor lỗi thì không gửi email\nif (failedSensors.length === 0) {\n    return null;\n}\n\nmsg.to = \"trhkimngan04@gmail.com\"; \nmsg.topic = \"[CẢNH BÁO] Phát hiện lỗi cảm biến!\";\n\n// Tạo trạng thái chi tiết\nlet statusDetail = {\n    air: data.air || \"unknown\",\n    soil: data.soil || \"unknown\",\n    water: data.water || \"unknown\"\n};\n\n// Tạo nội dung thư\nmsg.payload = `Hệ thống tưới cây phát hiện sự cố!\\n` +\n              `----------------------------------------\\n` +\n              `- Các cảm biến bị hỏng: ${failedSensors.join(', ')}\\n` +\n              `- Trạng thái chi tiết: ${JSON.stringify(statusDetail)}\\n` +\n              `- Thời gian: ${new Date().toLocaleString('vi-VN')}\\n\\n` +\n              `Vui lòng kiểm tra và bảo trì ngay!`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 260,
        "wires": [
            [
                "04ed5307d6bce50c"
            ]
        ]
    },
    {
        "id": "04ed5307d6bce50c",
        "type": "e-mail",
        "z": "75d84190d490b888",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "Email",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "6c41ddde3ce372df",
        "type": "debug",
        "z": "75d84190d490b888",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 100,
        "wires": []
    }
]